.add-button-box {
  margin: 2rem auto;
  width: 50rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  background-color: #a1d8fb;
  height: auto;
}

.add-expense-button {
  color: white;
  width: 30%;
  align-self: center;
  background-color: #5183df;
  border: none;
  padding: 1.25rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.add-expense-button:hover {
  background-color: #4073d1;
}
